<h1>Your Projects</h1>

<table class="table">
  <tbody>
    <%= sync partial: 'project_list_row', collection: Project.by_user(current_user) %>
    <%= sync_new partial: 'project_list_row', resource: Project.new, scope: Project.by_user(current_user) %>
  </tbody>
</table>

<br />

<%= link_to 'New Project', new_project_path %>
