<h1>Your Projects</h1>

<table class="table">
  <tbody>
    <%= sync partial: 'project_list_row', collection: Project.by_user(current_user) %>
  </tbody>
</table>

<%= link_to 'New Project', new_project_path %>

<hr />

<h1>Your Todos</h1>

<table class="table" data-name="todos-list">
  <colgroup>
    <col class="fill"/>
    <col/>
  </colgroup>
  <tbody>
    <%= sync partial: 'todo_list_row', collection: Todo.by_user(current_user) %>
  </tbody>
</table>

