<%= sync partial: 'project_header', resource: @project %>

<table class="table" data-name="todos-list">
  <colgroup>
    <col class="fill"/>
    <col/>
  </colgroup>
  <tbody>
    <% @project.todos.ordered.each do |todo| %>
      <%= sync partial: 'todo_list_row', resource: todo %>
    <% end %>
    <%= sync_new partial: 'todo_list_row', resource: Todo.new, scope: @project %>
  </tbody>
</table>

<br />

<%= render partial: 'todos/form', locals: {todo: @project.todos.build } %>

