<%= sync partial: 'project_header', resource: @project %>

<table class="table" data-name="todos-list">
  <colgroup>
    <col class="fill"/>
    <col/>
  </colgroup>
  <tbody>
    <%= sync partial: 'todo_list_row', collection: Todo.by_project(@project) %>
    <%= sync_new partial: 'todo_list_row', resource: Todo.new, scope: Todo.by_project(@project) %>
  </tbody>
</table>

<br />

<%= render partial: 'todos/form', locals: {todo: @project.todos.build } %>

