<%= sync partial: 'project_header', resource: @project %>

<table class="table" data-name="todos-list">
  <colgroup>
    <col class="fill"/>
    <col/>
  </colgroup>
  <%= sync partial: 'todo_list_row', collection: Todo.by_project(@project), container: { tag: :tbody } %>
</table>

<br />

<%= render partial: 'todos/form', locals: {todo: @project.todos.build } %>

