@import "helpers";

table {
  tr:hover {
    td.actions {
      @include opacity(1);
    }
  }
  td.name {
    min-width: 200px;
  }
  td.title {
  }
  td.actions {
    @include opacity(0.25);
    min-width: 140px;
  }
  td {
    i {
      font-size: 16px;
      margin-right: 0.2em;
      margin-left: 0.2em
    }
  }
}

.light { color: #bbbbbb; }

.add-new-todo {
  input[type="text"] {
    width: 90%;
  }

  input[type="submit"] {
  }
}