.fill {
  width: 100%;
}

.todo-user {
  color: #ccc;
}

.todo-row {
  form {
    margin: 0;
    padding: 0;
    min-height: 20px;
    position: relative;
    top: -5px;
    left: -5px;
  }
  .input {
    display: inline-block;
    vertical-align: top;
    width: 80%;
    margin-right: 1em;
    input[type="text"] {
      width: 100%
    }
  }
  &.edit {
    .static {
      display: none;
    }
    .editable {
      display: block;
    }
  }
}
